
.model-name {
  font-size: 0.85em;
}
.product-name {
  font-weight: 600;
  font-size: 50px;
}
.description {
  font-size: 1.3em;
   padding-bottom: 15px 0;
}

.links ul {
  list-style: none;
}

.links {
  padding: 15px 0;
}
.links ul li {
  display: inline-block;
  padding-right: 20px;
}
.links ul li a {
  color: #06c;
  text-decoration: none;
} 
 .links ul li a:hover {
  color: #000; /* Sets the text color to black (#000) on hover */
 
}
.links ul li a:after {
  font-weight: 600;
  font-family: "FontAwesome";
  content: "\f105";
  padding-left: 10px;
}  


/* Second section for iPhone 11 Pro */
.iphone11-pro{
  background-image: url(../images/home/iphone11-pro-bg.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  /* text-align: center; */
  padding:65px 20px;
  color: #fff;
  
}
.iphone11-pro .links ul li a:hover {
  color: #fff; 
}
.price {
  color: #86868b;
  font-size: 0.85em;
}